.body {
  font-family: 'Orbitron', sans-serif;
  background: linear-gradient(180deg, #532b9f, #17003c);
  color: white;
  margin: 0;
  padding: 0;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.3);
}

.logo img {
  height: 120px;
  width: auto;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.logo img:hover {
  transform: scale(1.08);
}

.nav-links a {
  margin: 0 10px;
  font-size: 14px;
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  color: #FF5500;
}

.lieux-section {
  padding: 60px 20px;
  text-align: center;
  background: linear-gradient(to bottom, #0a001f, #17003c);
}

.lieux-section h2 {
  font-size: 28px;
  color: white;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-shadow: 2px 2px #FF5500;
}

.lieux-description {
  color: #ccc;
  font-size: 16px;
  max-width: 700px;
  margin: 0 auto 40px;
  line-height: 1.6;
}

.lieux-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.lieu {
  background-color: #2e0066;
  border-radius: 16px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
  transition: transform 0.3s;
  text-align: left;
}

.lieu:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #FF5500;
}

.lieu img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.lieu h3 {
  font-size: 18px;
  color: #FF5500;
  margin-bottom: 10px;
}
